.jobs-card-container {
  background-color: #202020;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  font-family: 'Roboto';
}

.job-card-head-container {
  display: flex;
  align-items: center;
}
.company-logos {
  width: 18%;
}

@media screen and (min-width: 768px) {
  .company-logos {
    width: 10%;
  }
  .jobs-card-container {
    width: 100%;
  }
}
.title-container {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.title {
  font-size: 24px;
  font-weight: 500;
  padding-top: 20px;
}
.rating-container {
  display: flex;
  align-items: center;
}
.icon {
  color: #fbbf24;
  margin-right: 5px;
  font-size: 18px;
}
.rating {
  font-size: 20px;
}
.place-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.icon-container {
  display: flex;
  align-items: center;
}
.employment-type-container {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.employment-location-container {
  display: flex;
  align-items: center;
}
.title-icon {
  font-size: 16px;
  margin-left: 10px;
}
.job-icon {
  font-size: 20px;
}
.desc-title {
  font-size: 20px;
}

.hr {
  margin: 5px;
}
.desc-card {
  font-size: 16px;
  line-height: 26px;
}
.job-link {
  text-decoration: none;
  color: #ffffff;
}
