.navbar-header {
  display: flex;
  justify-content: center;
  background-color: #202020;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-large-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.website-logo {
  width: 90px;
}

@media screen and (min-width: 768px) {
  .website-logo {
    width: 165px;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
}

.navbar-mobile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-mobile-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.nav-menu-item {
  font-family: 'Roboto';
  text-decoration: none;
  margin: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.menu-item {
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
}
.btn-link {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}
.nav-link {
  text-decoration: none;
  color: #ffffff;
}

.logout-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  padding: 8px 30px;
  color: #ffffff;
  background-color: #4f46e5;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
@media screen and (max-width: 767px) {
  .navbar-large-container {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar-mobile-container {
    display: none;
  }
}
